body {
  background-color: #AFD4C0;
}

.App {
  text-align: center;
  background-color: #AFD4C0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.House {
  display: flex;
  flex-direction: row;
  padding: 40px;
  justify-content: space-around;
  margin-right: 40vw;
  
}

.Header {
  background-color: #519872;
  padding: 20px;
}
